body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif; /* Add this line */
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #eee;
    box-shadow: 0 0 25px 0 black;
}

.intro {
    font-weight: normal;
}

.name {
    font-weight: bold;
}

header * {
    display: inline;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 40px;
}

header a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}

header a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

section {
    height: 100vh;
    /*border: 1px solid black;*/
    display: flex;
    /*justify-content: center;
    align-items: center;*/
    /*text-align: center;*/

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#home {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://codetheweb.blog/assets/img/posts/steps-to-creating-a-website/field.jpg');
    text-align: center;
    justify-content: center;
    align-items: center;
}

#about {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://codetheweb.blog/assets/img/posts/steps-to-creating-a-website/beach.jpg');
    text-align: center;
    justify-content: center;
    align-items: center;
}

#contact {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://codetheweb.blog/assets/img/posts/steps-to-creating-a-website/canyon.jpg');
    text-align: center;
    justify-content: center;
    align-items: center;
}

#projects {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://media-cdn.tripadvisor.com/media/vr-splice-j/06/fb/be/08.jpg');
}

.projects {
    margin: 50px;
}

.projects a {
    text-decoration: none;
    padding: 4px;
}

.projects a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#home .profile-picture {
    width: 200px;
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 50px;
    background-color: black;
    color: white;
}

#projects h2 {
    text-align: center;
    align-items: center;
}

section h1 {
    font-size: 3em;
}

section h2 {
    font-size: 2em;
}

section h3 {
    font-size: 1em;
}

.name {
    font-family: 'Roboto', sans-serif;
}

.subtitle {
    font-family: 'Roboto', sans-serif;
}

.social-links {
    list-style: none;
    padding-left: 0px;
    font-size: 18px;
}
  
.social-links li {
    display: inline-block;
    margin-right: 8px;
}
  
.social-links a {
    text-decoration: none;
    padding: 4px;
}
  
.social-links a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}